__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
wheels/
*.egg-info/
.eggs/
.venv/
venv/
.env
.uv/
uv.lock
.mypy_cache/
.pyright/
.ruff_cache/
.pytest_cache/
.coverage
coverage.xml
htmlcov/
.tox/
.nox/
.idea/
.vscode/
*.swp
.DS_Store
/var/
/.skills/
